a {
    text-decoration: none;
    color: #a94547;
    transition: color 0.3s;
}

a:hover {
    color: #cf5457;
}


header {
    margin: 0 auto;
    background-color: black;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    margin-right: 0px;
}

header a {
    color: #fff;
}

ul {
    list-style: none;
    display: flex;
    width: 100%;
    margin: auto;
    padding: 15px;
}

li {
    text-align: center;
    width: 30%;
}

body {
    margin: 0;
}

#title {
    text-align: center;

    color: #a94547;
}

/* 确保body至少占据整个视口高度 */
html, body {
    height: 100%;
    margin: 0;
}

/* 使用flexbox布局确保内容占据可用空间，footer固定在底部 */
body {
    display: flex;
    flex-direction: column;
}

/* 内容容器，用于包含页面的所有内容 */
#content-wrapper {
    flex: 1; /* 让内容容器占据除footer外的所有空间 */
    overflow: auto; /* 如果内容过多，允许滚动 */
}

footer {
    background-color: #000;
    padding: 20px;
    text-align: center;
    color: white;
    /* footer固定在底部，不随内容滚动 */
    position: relative; /* 默认相对定位 */
    width: 100%;
    /* 以下属性确保footer在内容不足时也显示在底部 */
    /* margin-top: auto; 这行代码可以保留，也可以去掉，取决于你希望footer的确切位置 */
}

footer img {
    height: 20px;
}

#author h2,
h3 {
    text-indent: 20px;
}

#dot {
    border: none;
    border-top: 3px solid transparent;
    background-image: linear-gradient(to right, #ccc, #ccc 20%, transparent 20%, transparent 40%, #ccc 40%);
    background-size: 40px 4px;
}

#updatadate {
    text-align: center;
}

hr {
    border: none;
    border-top: 3px solid transparent;
    background-image: linear-gradient(to right, #ccc, #ccc 50%, transparent 50%, #ccc 50%);
    background-size: 40px 4px;
}