@font-face {
    font-family: LXGW;
    src: url("../assets/fonts/wk.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: SY;
    src: url("../assets/fonts/SourceHanSerifCN-Bold-2.otf");
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: SY;
    text-align: center;
    
}

h3 {
    font-family: LXGW;
    text-align: center;
}

button {
    font-family: LXGW;
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 50px;
    background-color: #87cefa;
    color: white;
    border: none;
}

img {
    width: 40%;
    height: auto;
}

a {
    text-decoration: none;
}

div {
    text-align: center;
}

h2{
    font-family: LXGW;
    text-align: center;
}

p{
    font-family: LXGW;
    text-align: center;
}

#header_color{
    background: linear-gradient(180deg, #87cefa, #9bd5fb, #addcfc, #bfe3fc, #d0eafd, #e0f1fe, #f0f8fe, #ffffff);
    width: 100%;
    height: 100px;
}

#footer_color{
    background: linear-gradient(0deg, #87cefa, #9bd5fb, #addcfc, #bfe3fc, #d0eafd, #e0f1fe, #f0f8fe, #ffffff);
    width: 100%;
    height: 100px;
}