#nnui {
    display: block;
    width: 80%;
    max-width: 300px;
    /* 限制最大宽度 */
    margin: 20px auto;
    padding: 15px;
    background-color: #a94547;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    /* 修正transition属性值 */
}

#nnui:hover {
    background-color: #cf5457;
    /* 鼠标悬停时按钮背景颜色变化 */
    color: #f8f8f8;
    /* 鼠标悬停时按钮文字颜色变化 */
}


a {
    text-decoration: none;
    color: #a94547;
    transition: color 0.3s;
}

a:hover {
    color: #cf5457;
}

header {
    margin: 0 auto;
    background-color: black;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

header a {
    color: #fff;
}

ul {
    list-style: none;
    display: flex;
    width: 100%;
    margin: auto;
    padding: 15px;
}

li {
    text-align: center;

    width: 30%;
}

body {
    margin: 0;
    /*
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
    -webkit-filter: grayscale(100%);
    */
}

#slogan {
    display: flex;
    justify-content: center;
    /* 水平居中所有子元素 */
    align-items: center;
    /* 垂直居中所有子元素 */
    text-align: center;
}

#logo {
    height: 300px;
    /* 根据需要调整图片高度 */
    margin-right: 20px;
    /* 根据需要调整图片和文字之间的间距 */
}

#text-content {
    display: flex;
    flex-direction: column;
    /* 子元素垂直排列 */
    justify-content: center;
    /* 垂直居中文本内容 */
}

#introduction {
    font-size: 30px;
}

#detail {
    margin: 0;
    /* 移除h3的默认外边距 */
    text-align: center;
}

/* 其他样式保持不变 */

#use {

    text-align: center;
    /* 水平居中所有子元素 */
}

#nnui {
    width: 100%;
}

#use {
    height: 100px;
}

#useimg {
    text-align: center;
}

#useimg img {
    height: 250px;
}


#use p {
    font-size: 15px;
}

#nnuibf {
    border-width: 0px;
}

#updata {
    text-align: center;
}

#updata iframe {
    background-color: #f8f8f8;
    border: none;
    height: 50px;
    width: 60%;
}

footer {
    background-color: #000;
    padding: 20px;
}

footer img {
    height: 20px;
}

#postListContainer {
    text-align: center;
    /* 使容器内的文本居中 */
}

#postListContainer h2 {
    display: inline-block;
    /* 使h2作为行内块级元素显示 */
    position: relative;
    padding: 15px 20px;
    /* 根据需要调整内边距 */
    background-color: #a94547;
    color: white;
    border-style: dashed;
    border-color: #a94547;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 20px auto;
    /* 垂直方向上自动边距，水平方向上自动居中 */
    width: 80%;
    max-width: 300px;
    overflow: hidden;
    /* 确保内容不会溢出 */
}

#postListContainer h2::before {
    content: "文";
    /* 圆形内的文字 */
    position: absolute;
    top: 50%;
    left: 5px;
    /* 根据需要调整 */
    height: 40px;
    /* 圆形的高度 */
    width: 40px;
    /* 圆形的宽度 */
    line-height: 40px;
    /* 使文字垂直居中 */
    border-radius: 50%;
    /* 圆形边框 */
    background-color: #fff;
    /* 圆形背景色 */
    color: #a94547;
    /* 圆形内文字的颜色 */
    text-align: center;
    /* 文字在圆形内居中 */
    font-weight: bold;
    /* 加粗文字 */
    transform: translateY(-50%);
    /* 垂直居中 */
    opacity: 0;
    /* 初始时圆形不可见 */
    transition: opacity 0.3s, transform 0.3s;
    /* 鼠标悬停时圆形变化的动画 */
}

#postListContainer h2:hover::before {
    opacity: 1;
    /* 鼠标悬停时圆形可见 */
    transform: scale(1.5) translateY(-50%);
    /* 鼠标悬停时圆形放大并垂直居中 */
}

#postListContainer h2:hover {
    background-color: #cf5457;
    /* 鼠标悬停时按钮背景颜色变化 */
    text-align: right;
    /* 鼠标悬停时文字居左 */
    padding-left: 20px;
    /* 为圆形留出空间 */
}